# Gradle
.gradle/
**/build/
build/
dist/

*tsbuildinfo
vite.config.d.ts
vite.config.js

# Android/Local configuration
local.properties
**/local.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Kotlin
.kotlin
*.source

# Android Studio
captures/
.externalNativeBuild
.cxx

# node
**/node_modules/

# release
**/release/
**/bin/

# intellij
**/out/

**/ai_script/

**/log/
