root = true
[*.kts]
ktlint = disabled


########################################
# 全体共通
########################################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 150
trim_trailing_whitespace = true

########################################
# Kotlin
########################################
[*.{kt}]
max_line_length = 150

# ---- ktlint standard rules ----
ktlint_standard_header = disabled
ktlint_standard_filename = disabled
ktlint_standard_no-wildcard-imports = disabled

# ---- formatting ----
ktlint_standard_indent = enabled
ktlint_standard_argument-list-wrapping = enabled
ktlint_standard_chain-wrapping = enabled
ktlint_standard_parameter-list-wrapping = enabled
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled

# ---- optional (好み) ----
ij_kotlin_allo
